body{
  background-color: #fcd04b;
  font-family: cursive;
  color: white;
}

h1{
  text-align: center;
  font-weight: 300px;
}

/* Here all the animation part start..
    Select the button by btn class */
/* Customise the way you want  */
.btn{
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background-color: #fcad26;
  font-size: 16px;
  font-weight: 300px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 25px 80px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 6px #efa424;
}
/* Hover - when we move the pointer of mouse on the button the properties will
   change as specified */
.btn:hover{
  /* the shadow width is change so that it appears to press  */
  box-shadow: 0 4px #efa424;
  /* the top is change so that it appears to press, we if does not change
    the top button will appears to move upward */
  top: 2px;
}
/* Active - when we press the pointer of mouse on the button the properties will
   change as specified */
.btn:active{
  /* the shadow width is change so that it appears to press  */
  box-shadow: none;
  /* the top is change so that it appears to press, we if does not change
    the top button will appears to move upward */
  top: 6px;
}
